<div class="main-container">
  <div class="container">
    <img
      src="../img/forgot.png"
      alt="Personagem Lumo confuso"
      class="illustration"
    />
    <h1 class="title">Esqueceu sua senha?</h1>
    <p class="description">
      Digite o endereço de e-mail que você usa no Phocus.
      <br />
      Enviaremos um link para redefinir sua senha.
    </p>

    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="forgot-form"
      novalidate
    >
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="seu@email.com"
        [class.error]="emailControl.touched && emailControl.invalid"
      />

      <div
        class="error-message"
        *ngIf="emailControl.touched && emailControl.invalid"
      >
        <span *ngIf="emailControl.errors?.['required']"
          >Email é obrigatório</span
        >
        <span *ngIf="emailControl.errors?.['email']">Email inválido</span>
      </div>

      <button class="btn" type="submit" [disabled]="form.invalid">
        Enviar link de redefinição
      </button>
    </form>

    <a href="/sign" class="back-link">
      <i class="ti ti-arrow-left"></i>
      Voltar para o login
    </a>
  </div>
</div>
