.step__card {
    background-color: var(--background-element);
    border: 2px solid var(--border-color);
    color: var(--white);
    border-radius: 20px;
    width: 500px;
    height: 280px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    padding: 24px;
    z-index: 1;
}

.step__card:hover {
    border-color: var(--primary-color);
    box-shadow: 0 4px 20px var(--shadow-yellow);
    transform: translateY(-6px);
    transition: var(--transition);
}

.step__title {
    font-size: 1.8rem;
    cursor: default;
}

.step__description {
    color: var(--white);
    font-size: 1.25rem;
    margin-top: 8px;
}

.step__number {
    font-size: 3.4rem;
    display: flex;
    gap: 4px;
    align-items: center;
}

.step__number span {
    color: var(--primary-color);
    font-weight: 600;
}

.step__number i {
    color: var(--sucess-color);
    font-size: 3rem;
}

@media (max-width: 767px) {
    .step__card {
        width: 100%;
        padding: 16px;
        justify-content: center;
    }

    .step__title {
        font-size: 1.5rem;
    }

    .step__description {
        font-size: 1rem;
    }

    .step__number {
        font-size: 2.5rem;
    }

    .step__number i {
        font-size: 2.5rem;
    }
}