/* ------- CSS Geral ------- */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

:root {
    --primary-color: #f8e71c;
    --sucess-color: #1ba649;
    --border-color: #55657f;
    --background-color: #1f2937;
    --background-element: #2c3e50;
    --text-color: #9aa9c0;
    --text-color-light: #fdfdfd;
    --white: #ffffff;
    --shadow-yellow: rgba(248, 231, 28, 0.2);
    --shadow-green: rgba(27, 166, 73, 0.125);
    --transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

body {
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--background-element);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid var(--background-element);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffeb3b; 
}


.container__max {
    max-width: 1440px;
    margin: 0 auto;
}